
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

img{
    /* border-top-left-radius: 200px;
    border-bottom-right-radius: 200px; */
    border-radius: 200px 0px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3,150px);
    /* gap: 0px ; */
    background-color: red;
    padding: 0px 20px;
}